@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lemon|Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	margin: 0px;
}

h1{
	font-family: 'Lemon', cursive;
	font-weight: bold;
}

h2, h3{
	font-family: 'Inconsolata', monospace;
}

a{
	text-decoration: none;
}
